
// components

.card {
    background-color: var(--app-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    // states

    &--primary {
        background-color: var(--app-primary);
        color: var(--app-white);
    }

    &--white {
        background-color: var(--app-white);
        color: var(--app-primary);
    }

    &--dark {
        background-color: var(--app-dark);
        color: var(--app-white);
    }

// attributes

    &[visible-state='reversed'] {
        flex-direction: column-reverse;
    }

    &[display='hide'] {
        display: none;
    }

    &[display='show'] {
        display: true;
    }

// elements

    &___title {
    max-width: 70vmin ;
    }

    &__subtitle {
    max-width: 70vmin ;
    }

    &__element-wrapper {
      max-width: 70vmin ;
      display: flex;
      padding: 1rem;
    }
}



// animations

@keyframes App-logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
