@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
:root {
  --app-primary: #73B2E0;
  --app-secondary: #8D9090;
  --app-dark: #4B4F54;
  --app-light: #efefef;
  --app-white: #ffffff;
  --app-black: #000000;
  --app-special: yellow;
}
html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--app-dark);
  font-size: 16px;
}
h1,
h2 {
  margin: 0;
  font-weight: 700;
}
h3 {
  margin: 0;
  font-weight: 300;
}
p {
  font-size: 1rem;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.app {
  text-align: center;
}
.card {
  background-color: var(--app-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  transition: 1s ease-in-out;
}
.card--primary {
  background-color: var(--app-primary);
  color: var(--app-white);
}
.card--white {
  background-color: var(--app-white);
  color: var(--app-primary);
}
.card--dark {
  background-color: var(--app-dark);
  color: var(--app-white);
}
.card[visible-state='reversed'] {
  flex-direction: column-reverse;
}
.card[display='hide'] {
  display: none;
}
.card[display='show'] {
  display: true;
}
.card___title {
  max-width: 70vmin ;
}
.card__subtitle {
  max-width: 70vmin ;
}
.card__element-wrapper {
  max-width: 70vmin ;
  display: flex;
  padding: 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  animation: App-logo-spin infinite 10s linear;
  height: 25vmin;
  padding: 2.5vmin;
  margin: 2.5vmin;
}
.logo--negative-bk {
  background-color: var(--app-white);
  border-radius: 40vmin;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button {
  width: 100%;
  max-width: 200%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 2px solid var(--app-secondary);
  background: transparent;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  color: var(--app-secondary);
  font-size: 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button:hover {
  border-color: var(--app-special);
  background: var(--app-special);
  color: var(--app-dark);
}
.button--primary {
  border-color: var(--app-primary);
  background-color: var(--app-primary);
  color: var(--app-white);
}
.button--negative {
  border-color: var(--app-white);
  background-color: var(--app-white);
  color: var(--app-secondary);
}
.button--negative--primary {
  border-color: var(--app-white);
  background-color: var(--app-white);
  color: var(--app-primary);
}
.button__text {
  margin: 0 0.125rem;
}
/*# sourceMappingURL=App.css.map */